
        #f1{
            color:yellow;
        }
        #f2,h1{
            color:rgb(255, 0, 208);
        }
        .sample1
        {
            font-size:50px;
    
            width:200px;
            border:2px ridge green;
        }
        .sample2
        {
            background-color:#45ff33;
        }
        div{
            height:100px;
            width:100px;
            background-color:green;
            border-width: 5px;
            border-color: red;
            border-style:double;
            margin:5px;
            float:left;

        }

        span{
            background-color: teal;
        }
        
